.chbi-textarea-container {
  width: 250px;
  display: flex;

}

.chbi-textarea-label {
  font-size: 1.1rem;
  text-align: left;
  padding-bottom: 8px;
}

.chbi-textarea {
  height: 30px;
  border: 1px solid black;
  width: 100%;

}