.chbi-layout-container {
  width: 1920px;
  height: 1080px;

  display: grid;
  grid:
    "navigation content" 1fr
    / auto 1fr;
  gap: 8px;
}

.chbi-layout-navbar {
  grid-area: navigation;
  background-color: #007C91
}