.chbi-navbar-content {
display: grid;
grid-template-columns: 0.3fr 1fr;
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 100vh;
}

@media screen and (min-width: 480px) {
  .chbi-navbar-content {
    height: 100vh;
  }
}